*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 30px;
}
.logo_container{
    width: 100%;
    height: 120px;
    background-color: #261305;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.logo{
    float: left;
    transition: transform 5s linear;
}
.logo:hover{
    transform: rotate(360deg);
}
.matric{
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 50px;
    color: #fff;
}
.matric:hover{
    color: #00ffff;
}
.nav_box{
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background-color: #d2691e;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
#nav{
    float: left;
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
#nav:hover{
    color: #261305;
}
.banner{
    margin-top: 25px;
    width: 95%;
    height: 200px;
    background-color: #e07224;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
}
.boxy{
    margin-top: 25px;
    width: 90%;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
}
#box{
    width: 30%;
    height: 200px;
    background-color: #261305;
    color: #ffffff;
    border-radius: 10px;
    float: right;
    margin-right: 25px;
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
}
#box:hover{
    background-color: #e07224;
    border: 5px solid #ffffff;
    color: #000000;
}
.contain{
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
#contain1{
    width: 45%;
    height: 250px;
    background-color: #e07224;
    border: 5px solid #261305;
    border-radius: 10px;
    float: left;
    padding: 80px 30px;
}
#contain2{
    width: 50%;
    background-color: #e07224;
    border: 5px solid #261305;
    border-radius: 10px;
    float: right;
    padding: 80px 30px;

}